html, body {
	margin: 0;
}

body {
	padding-block-end: 70px; /*Force content above overlay bar at bottom. */
}

h1, h2 {
	text-align: center;
}

#topBar {
	background-color: #012269;
	color: white;
	padding-left: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	left: 0;
	right: 0;
	top: 0;
	margin-bottom: 10px;
}

#topBar #acronym {
	font-size: 2em;
}

#topBar #title {
	font-size: 1em;
}

#topBar #userCard {
	cursor: pointer;
	background-color: #03518c;
	min-height: 50px;
	min-width: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.accountPopup {
	position: fixed;
	right: 0;
	top: 50px;
	background-color: #8fb2ff;
	border: none;
	width: 240px;
	height: 0;
	padding: 0;
	transition: 0.5s;
	border-radius: 20px;
}

.accountPopupExpanded {
	padding: 30px;
	height: 50vh;
}


#searchDropdown {
	background: #eeeeee;
	padding: 8px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

#searchDropdown:hover {
	filter: brightness(0.8);
}

#searchDropdown > span:nth-child(2) {
	flex: 0.3;
}


.searchItemBar {
	padding: 8px;
	background-color: #d5fcff;
}

.searchItemBar:hover {
	background-color: #c4f5f9;
}

.searchItemBar *:first-child {
	display: inline-block;
	min-width: 100px;
}

.searchItemBar select {
	min-width: 100px;
}


#filedrop {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 320px;
  height:auto;
  max-height:400px;
  margin:auto;
  background-color:#eef;
  text-align:center;
}

#filedrop.highlight {
  border-color: purple;
}

#fileinputlabel {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#fileinputlabel:hover {
  background: #ddd;
}

#fileinput {
  display: none;
}


#uploadMenu {
	background-color: #f8f8f8;
}

.center {
	text-align: center;
}


.infoCard {
	display: block;
	min-height: 100%;
	min-width: 15vw;
}

.infoCard p {
	margin: 0;
	margin-bottom: 4px;
}

.itemRow {
	border: 1px solid #aaaaaa;
	display: flex;
	align-items: center;
}

.itemRow div {
	display: inline-block;
}

.itemRow img {
	margin-left: 5px;
}

.neuroglancerLink {
	border-radius: 1000000px;
	padding: 8px 0px;
	width: 100%;
}

.selectBox {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.bottomBar {
	position: absolute;
	width: 100vw;
	bottom: 0;
	position: fixed;
	padding: 15px;
	background-color: #000000dd;
	text-align: center;
	z-index: 11;
}

.bottomBar button {
	padding: 10px;
}

.overlay {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: #000000dd;
	display: flex;
    justify-content: center;
    align-items: center;
	z-index: 10;
}

.overlayCenter {
	background-color: white;
	display: inline-block;
	padding: 30px;
	max-height: 60vh;
	overflow: scroll;
}

.renameButton {
	display: block;
	margin-left: auto;
	margin-right: 30px;
}
