html, body {
	margin: 0;
}

h1, h2 {
	text-align: center;
}

#filedrop {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 320px;
  height:auto;
  max-height:400px;
  margin:auto;
  background-color:#eef;
  text-align:center;
}

#filedrop.highlight {
  border-color: purple;
}

#fileinputlabel {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#fileinputlabel:hover {
  background: #ddd;
}

#fileinput {
  display: none;
}


#uploadMenu {
	background-color: #f8f8f8;
}

.center {
	text-align: center;
}


.previewCard {
	width: 33vw;
	display: inline-block;
	text-align: center;
	min-height: 100%;
	border: 1px solid #aaaaaa;
}

.previewCard p {
	margin: 0;
	margin-bottom: 4px;
}

.cardHolderRow {
	min-height: 250px;
	display: flex;
}

.neuroglancerLink {
	border-radius: 1000000px;
	padding: 8px;
}
