html, body {
	margin: 0;
}

h1, h2 {
	text-align: center;
}

#filedrop {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 320px;
  height:auto;
  max-height:400px;
  margin:auto;
  background-color:#eef;
  text-align:center;
}

#filedrop.highlight {
  border-color: purple;
}

#fileinputlabel {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#fileinputlabel:hover {
  background: #ddd;
}

#fileinput {
  display: none;
}


#uploadMenu {
	background-color: #f8f8f8;
}

.center {
	text-align: center;
}


.infoCard {
	display: block;
	min-height: 100%;
}

.infoCard p {
	margin: 0;
	margin-bottom: 4px;
}

.itemRow {
	border: 1px solid #aaaaaa;
	display: flex;
	align-items: center;
}

.itemRow div {
	display: inline-block;
}

.itemRow img {
	margin-left: 5px;
}

.neuroglancerLink {
	border-radius: 1000000px;
	padding: 8px;
}

.selectBox {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.thumbnailContainer {
	max-width: 85vw;
}
